{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["prettier", "security"],
  "extends": ["standard", "plugin:security/recommended", "prettier"],
  "rules": {}
}
